PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-08-21 07:38:00.315181');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-08-21 07:38:00.361162');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-08-21 07:38:00.390177');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Milan object (1)',1,'[{"added": {}}]',10,1,'2024-08-21 08:21:57.064935');
INSERT INTO django_admin_log VALUES(2,'2','Milan object (2)',1,'[{"added": {}}]',10,1,'2024-08-21 08:22:15.222783');
INSERT INTO django_admin_log VALUES(3,'3','Milan object (3)',1,'[{"added": {}}]',10,1,'2024-08-21 08:22:23.960991');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$870000$PsSXe8EVYA9RoHul9Ng1M9$iFYCZXhqQ58umgt+TTl3pG5QCDZb91MPkWwjZ9KHZu0=','2024-08-21 16:09:33.243376',1,'admin','','admin@example.com',1,1,'2024-08-21 07:40:11.990579','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('amuefps1592z6yzjrs7aecylakh5byny','.eJxVjMsOwiAQRf-FtSEDnWJx6b7fQGYGkKqBpI-V8d-1SRe6veec-1KBtrWEbUlzmKK6KKNOvxuTPFLdQbxTvTUtra7zxHpX9EEXPbaYntfD_TsotJRvLU68ZTARTN8bcYDkkk_sO9NZ8IjCMkgkFLRntn6AnjJBtkiSkUG9P9TQN90:1sgfyN:dzbIxknbMg36opAq927foZ5w9pCPwturR8zWeLe9qAc','2024-09-04 07:41:39.093647');
INSERT INTO django_session VALUES('357hi37pv0haeyo2fsu322z54qk11a4n','.eJxVjMsOwiAQRf-FtSEDnWJx6b7fQGYGkKqBpI-V8d-1SRe6veec-1KBtrWEbUlzmKK6KKNOvxuTPFLdQbxTvTUtra7zxHpX9EEXPbaYntfD_TsotJRvLU68ZTARTN8bcYDkkk_sO9NZ8IjCMkgkFLRntn6AnjJBtkiSkUG9P9TQN90:1sggZg:d38wBSrjqwGp1yMSja1_raFZalyc2LmkKxhySBIRuCo','2024-09-04 08:20:12.920125');
INSERT INTO django_session VALUES('nd3u78xdub2z4itn41j8l2d16h37vv6u','.eJxVjMsOwiAQRf-FtSEDnWJx6b7fQGYGkKqBpI-V8d-1SRe6veec-1KBtrWEbUlzmKK6KKNOvxuTPFLdQbxTvTUtra7zxHpX9EEXPbaYntfD_TsotJRvLU68ZTARTN8bcYDkkk_sO9NZ8IjCMkgkFLRntn6AnjJBtkiSkUG9P9TQN90:1sgntt:M3UyO2utbghJSNGqXZ3hRNzZkWF8FtS0chYCD3KQuRE','2024-09-04 16:09:33.252358');
CREATE TABLE IF NOT EXISTS "myapp_milan" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "milan_name" varchar(100) NOT NULL, "valaya" varchar(100) NOT NULL, "khand" varchar(100) NOT NULL, "prakhand" varchar(100) NOT NULL, "nagar" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
INSERT INTO myapp_milan VALUES(1,'K R Puram','Bangalore','Karnataka','south India','K R Puram','2024-08-21 08:21:57.061919','2024-08-21 08:21:57.061919');
INSERT INTO myapp_milan VALUES(2,'Ramuthy nagar','Bangalore','Karnataka','south India','K R Puram','2024-08-21 08:22:15.220783','2024-08-21 08:22:15.220783');
INSERT INTO myapp_milan VALUES(3,'Hennur','Bangalore','Karnataka','south India','K R Puram','2024-08-21 08:22:23.958990','2024-08-21 08:22:23.958990');
CREATE TABLE IF NOT EXISTS "myapp_responsibility" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "role_name" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
INSERT INTO myapp_responsibility VALUES(1,'Swayam Sevak','2024-08-21 08:22:49.911674','2024-08-22 03:46:42.739007');
INSERT INTO myapp_responsibility VALUES(2,'Nagarasta','2024-08-21 08:23:09.842311','2024-08-22 03:46:59.811707');
INSERT INTO myapp_responsibility VALUES(3,'Prantya','2024-08-21 08:23:25.234555','2024-08-22 03:47:13.724693');
CREATE TABLE IF NOT EXISTS "myapp_commonuser" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "contact" varchar(15) NOT NULL, "address" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "milan_id" bigint NOT NULL REFERENCES "myapp_milan" ("id") DEFERRABLE INITIALLY DEFERRED, "role_id" bigint NOT NULL REFERENCES "myapp_responsibility" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_commonuser VALUES(1,'prakash','5555566666','xyxz','2024-08-22 05:37:44.721358','2024-08-22 05:37:44.722363',1,1);
INSERT INTO myapp_commonuser VALUES(2,'harish','5554466776','xyxz','2024-08-22 05:39:15.255573','2024-08-22 05:39:15.255573',2,1);
INSERT INTO myapp_commonuser VALUES(3,'raju','6547328193','xyxz','2024-08-22 10:49:37.007507','2024-08-22 10:49:37.007507',1,1);
CREATE TABLE IF NOT EXISTS "myapp_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "contact" varchar(15) NOT NULL, "password" varchar(128) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "milan_id" bigint NOT NULL REFERENCES "myapp_milan" ("id") DEFERRABLE INITIALLY DEFERRED, "role_id" bigint NOT NULL REFERENCES "myapp_responsibility" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_user VALUES(1,'Lakshman Kumar S','lakshmanlucky821@gmail.com','9535640234','password','2024-08-21 08:24:32.846637','2024-08-21 08:24:32.846637',1,1);
INSERT INTO myapp_user VALUES(2,'Lucky','lucky821@gmail.com','9535640234','password','2024-08-21 08:25:14.306536','2024-08-21 08:25:14.306536',2,2);
INSERT INTO myapp_user VALUES(3,'Abhi','abhi123@gmail.com','1111111111','password','2024-08-21 16:07:39.627330','2024-08-21 16:07:39.627330',2,2);
CREATE TABLE IF NOT EXISTS "myapp_address" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "address" text NOT NULL, "city" varchar(100) NOT NULL, "district" varchar(100) NOT NULL, "state" varchar(100) NOT NULL, "pincode" varchar(10) NOT NULL, "country" varchar(100) NOT NULL, "address_type" varchar(50) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "myapp_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_address VALUES(1,replace(replace('#11, venkatappa layout\r\nbehind kote temple\r\nLakshmisagar street','\r',char(13)),'\n',char(10)),'K R Puram','Bangalore','Karnataka','560036','India','permanent','2024-08-21 16:10:27.012657','2024-08-21 16:10:27.012657',1);
INSERT INTO myapp_address VALUES(2,'#12, xxyy street','R M Nagar','Bangalore','Karnataka','560016','India','permanent','2024-08-21 16:14:45.608165','2024-08-21 16:14:45.608165',4);
INSERT INTO myapp_address VALUES(3,'#2, abc','R M Nagar','Bangalore','Karnataka','560016','India','permanent','2024-08-22 10:40:24.603203','2024-08-22 10:40:24.603203',5);
CREATE TABLE IF NOT EXISTS "myapp_reports" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "common_user_id" bigint NULL REFERENCES "myapp_commonuser" ("id") DEFERRABLE INITIALLY DEFERRED, "milan_id" bigint NOT NULL REFERENCES "myapp_milan" ("id") DEFERRABLE INITIALLY DEFERRED, "role_id" bigint NOT NULL REFERENCES "myapp_responsibility" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NULL REFERENCES "myapp_user" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "unique_report" UNIQUE ("milan_id", "user_id", "common_user_id", "created_at"));
INSERT INTO myapp_reports VALUES(79,'2024-08-23 06:23:24.706673','2024-08-23 06:23:24.706673',NULL,1,1,1);
INSERT INTO myapp_reports VALUES(80,'2024-08-23 06:23:24.724674','2024-08-23 06:23:24.724674',NULL,1,1,4);
INSERT INTO myapp_reports VALUES(91,'2024-08-23 12:00:52.182470','2024-08-23 12:00:52.182470',NULL,2,2,2);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',20);
INSERT INTO sqlite_sequence VALUES('django_admin_log',29);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "myapp_commonuser_milan_id_c98ab911" ON "myapp_commonuser" ("milan_id");
CREATE INDEX "myapp_commonuser_role_id_512bde8e" ON "myapp_commonuser" ("role_id");
CREATE INDEX "myapp_user_milan_id_9360be1f" ON "myapp_user" ("milan_id");
CREATE INDEX "myapp_user_role_id_23830f6e" ON "myapp_user" ("role_id");
CREATE INDEX "myapp_address_user_id_fec7814c" ON "myapp_address" ("user_id");
CREATE UNIQUE INDEX "myapp_reports_milan_id_user_id_created_at_common_user_id_4b5bfa9b_uniq" ON "myapp_reports" ("milan_id", "user_id", "created_at", "common_user_id");
CREATE INDEX "myapp_reports_common_user_id_ea91c6a4" ON "myapp_reports" ("common_user_id");
CREATE INDEX "myapp_reports_milan_id_63534751" ON "myapp_reports" ("milan_id");
CREATE INDEX "myapp_reports_role_id_ec0815a9" ON "myapp_reports" ("role_id");
CREATE INDEX "myapp_reports_user_id_8d672bef" ON "myapp_reports" ("user_id");
COMMIT;
